<h1>Groups</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create a group', new_group_path, :class => 'btn btn-primary' %>
