<%= form_for(@pdfhash) do |f| %>
  <% if @pdfhash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdfhash.errors.count, "error") %> prohibited this pdfhash from being saved:</h2>

      <ul>
      <% @pdfhash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
